#root {
  /* max-width: 1280px;
  margin: 0 auto; 
  padding: 2rem;
  text-align: center; */
}

.lazy-fallback {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  font-size: 1.2rem;
  color: #555;
}